<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container fluid mt-5 p-2">
			<div class="row">
				<p class="text-center fs-3">All Products</p>
				<hr>
				<a href="/admin/" class="text-decoration-none"><i
					class="fa-solid fa-arrow-left"></i> Back</a><br> <br>

				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>



				<div class="col-md-4 ps-4 pe-4">
					<form action="/admin/products" method="get">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" name="ch">
							</div>
							<div class="col">
								<button class="btn btn-primary">Search</button>
								<br> <br>

							</div>
						</div>
					</form>
				</div>


		
					<div class="p-3">					
						<table class="table table-bordered">
							<thead class="table-light">
								<tr>
									<th scope="col">Sl No</th>
									<th scope="col">Image</th>
									<th scope="col">Title</th>
									<th scope="col">Category</th>
									<th scope="col">Price</th>
									<th scope="col">Discount</th>
									<th scope="col">Discount Price</th>
									<th scope="col">Status</th>
									<th scope="col">Stock</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pro,c:${products}">
									<th scope="row">[[${c.count}]]</th>
									<td><img th:src="@{'/img/product_img/'+${pro.image}}"
										width="50px" height="50px"></td>

									<td>[[${pro.title}]]</td>
									<td>[[${pro.category}]]</td>
									<td>[[${pro.price}]]</td>
									<td>[[${pro.discount}]]</td>
									<td>[[${pro.discountPrice}]]</td>
									<td>[[${pro.isActive}]]</td>
									<td>[[${pro.stock}]]</td>

									<td><a th:href="@{'/admin/editProduct/'+${pro.id}}"
										class="btn btn-primary btn-sm"><i
											class="fa-solid fa-pen-to-square fa-1x"></i> Edit</a> <a
										th:href="@{'/admin/deleteProduct/'+${pro.id}}"
										class="btn btn-danger btn-sm"> <i
											class="fa-solid fa-trash fa-1x"></i> Delete
									</a></td>
								</tr>

							</tbody>
						</table>
					
					<div class="row">
						<div class="col-md-4">Total Products : [[${totalElements}]]</div>
							<div class="col-md-6">							
							
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"  th:classappend="${isFirst} ? 'disabled' : ''">
										<a class="page-link" th:href="@{'/admin/products?pageNo='+${pageNo-1}}"
											aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										</a></li>
										<li th:each="i:${#numbers.sequence(1,totalPages)}"
										class="page-item" th:classappend="${pageNo+1 == i} ? 'active' : ''">
										<a class="page-link" th:href="@{'/admin/products?pageNo='+${i-1}}">[[${i}]]</a></li>
										
										<li class="page-item"  th:classappend="${isLast} ? 'disabled' : ''"><a class="page-link" 
										th:href="@{'/admin/products?pageNo='+${pageNo+1}}"
											aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</nav>
								
							</div>
							
						</div>
					
					</div>

				</div>

			</div>
		</div>

	</section>
</body>
</html>